<%- include('../partials/head'); %>


<body>
    <%- include('../partials/header'); %>

    <div class="title">

        <h1>CONTROLADOR DE HOJAS DE ESTILO</h1>

    </div>

    <div class="subtitle">

        <h4>El botón se verá en verde si vincula bien los estilos del index</h4>

    </div>

    <div class="buttonCont">

        <button><a href="/product">Ir a la página 2</a></button>
        
    </div>

    <%- include('../partials/footer'); %>
    
</body>
</html>