<%- include('../partials/head'); %>


<body>
    <%- include('../partials/header'); %>

    <div class="title">
        <h1>CONTROLADOR DE HOJAS DE ESTILO</h1>
    </div>

    <div class="subtitle">
        <h2>Hoja Producto</h2>

        <h4>El botón se verá en azul si vincula bien los estilos del index</h4>
    
    </div>

    <div class="buttonCont">

        <button><a href="/">Ir al index</a></button>

    </div>

    <%- include('../partials/footer'); %>
    
</body>
</html>